@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <a class="animate-charcter">Maposinzon.</a></h1>
    <h2>This page is under construction!</h2>
    <img src="https://i.imgur.com/i3tfZO9.png"/>
</div>
